@tailwind base;
@tailwind components;
@tailwind utilities;

.p-checker {
  position: relative;
  padding-left: 29px;
  display: block;
  cursor: pointer;
}

.p-checker input {
  position: absolute;
  height: 0;
  width: 0;
  cursor: pointer;
}

.p-checker:hover input ~ label::before {
  border-color: #80bdff;
}

.p-checker label::before {
  content: "";
  position: absolute;
  display: inline-block;
  border: 2px solid #2b2b2b;
  height: 22px;
  width: 22px;
  top: 3px;
  left: 0;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.p-checker label::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 12px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  left: 8px;
  top: 7px;
  transform: rotate(45deg);
}

.p-checker input:checked ~ label::before {
  background-color: #1c6dbb;
  border-color: #1c6dbb;
}
